#layout {
	background: #ddd;
	padding: 10px;
	margin: 10px;
}

#admin-panel {
	background: #9191B3;
	padding: 10px;
	margin: 10px;
}

#game-panel {
	background: #7D68A2;
	padding: 10px;
	margin: 10px;
}


.question-info {
	font: Helvetica;
}

.btn {
	margin-bottom: 3px;
    margin-left: 5px;
    font-size: 12px;
    padding: 1px 10px;
}